# Intrduction to NumPy


#### 1. Import NumPy under the name np.

In [1]:
# your code here

import numpy as np

#### 2. Print your NumPy version.

In [2]:
# your code here
np.__version__

'1.20.1'

#### 3. Generate a 2x3x5 3-dimensional array with random values. Assign the array to variable *a*.
**Challenge**: there are at least three easy ways that use numpy to generate random arrays. How many ways can you find?

In [3]:
# Method 1
a = np.random.randint (0,50,(2,3,5))
print(a)

[[[49 29 17  3 30]
  [14 29 27 26 47]
  [ 5 12  9 21 29]]

 [[21 36 10 44 38]
  [ 5 39 10 13 12]
  [ 8 31 16 31  8]]]

In [6]:
# Method 2
a = np.random.random((2,3,5))
a

array([[[0.8894408 , 0.06715585, 0.77622343, 0.72477776, 0.34200072],
        [0.5505145 , 0.06146153, 0.95949456, 0.1705424 , 0.03024954],
        [0.86451175, 0.75586971, 0.91728872, 0.39236806, 0.1735799 ]],

       [[0.1122448 , 0.1371674 , 0.20828464, 0.50749397, 0.46566207],
        [0.81619548, 0.43602866, 0.72003236, 0.92097124, 0.38216449],
        [0.3831936 , 0.93150584, 0.37897822, 0.70587861, 0.67974063]]])

In [7]:
# Method 3
a = np.random.rand(2, 3, 5)
a

array([[[4.36399175e-01, 9.69835058e-02, 8.78809438e-01, 9.70007813e-01,
         7.89923629e-01],
        [1.57954562e-02, 2.09431208e-01, 8.20058131e-01, 4.94073265e-01,
         6.66870945e-04],
        [1.27023999e-01, 4.26028512e-01, 9.27382456e-01, 6.22580127e-01,
         7.14417915e-01]],

       [[1.99900195e-01, 1.75909753e-01, 1.58194481e-01, 4.96004372e-01,
         8.86175520e-01],
        [7.50897290e-01, 9.69106954e-01, 6.50900811e-01, 2.54672520e-01,
         5.38578502e-01],
        [1.30795692e-01, 1.42127722e-01, 3.24322306e-01, 5.91772880e-01,
         9.11650531e-01]]])

#### 4. Print *a*.

In [8]:
# your code here
print (a)

[[[4.36399175e-01 9.69835058e-02 8.78809438e-01 9.70007813e-01
   7.89923629e-01]
  [1.57954562e-02 2.09431208e-01 8.20058131e-01 4.94073265e-01
   6.66870945e-04]
  [1.27023999e-01 4.26028512e-01 9.27382456e-01 6.22580127e-01
   7.14417915e-01]]

 [[1.99900195e-01 1.75909753e-01 1.58194481e-01 4.96004372e-01
   8.86175520e-01]
  [7.50897290e-01 9.69106954e-01 6.50900811e-01 2.54672520e-01
   5.38578502e-01]
  [1.30795692e-01 1.42127722e-01 3.24322306e-01 5.91772880e-01
   9.11650531e-01]]]

#### 5. Create a 5x2x3 3-dimensional array with all values equaling 1. Assign the array to variable *b*.

In [9]:
# your code here
b = np.ones((5,2,3))

#### 6. Print *b*.

In [10]:
# your code here
b

array([[[1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.]]])

#### 7. Do *a* and *b* have the same size? How do you prove that in Python code?

In [11]:
# your code here
if a.size == b.size:
    print ("a and b have the same size.")
else:
    print ("a and b don't have the same size.")

a and b have the same size.

#### 8. Are you able to add *a* and *b*? Why or why not?

In [12]:
# your answer here
np.add (a, b)

# Not possible, bc they have different shapes

ValueError: operands could not be broadcast together with shapes (2,3,5) (5,2,3)

#### 9. Transpose *b* so that it has the same structure of *a* (i.e. become a 2x3x5 array). Assign the transposed array to variable *c*.

In [14]:
# your code here
c = b.reshape((2, 3, 5))
c

array([[[1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.]],

       [[1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.]]])

#### 10. Try to add *a* and *c*. Now it should work. Assign the sum to variable *d*. But why does it work now?

In [16]:
# your code/answer here
d = np.add (a, c)
d
# Because they have the same shape now

array([[[1.43639917, 1.09698351, 1.87880944, 1.97000781, 1.78992363],
        [1.01579546, 1.20943121, 1.82005813, 1.49407327, 1.00066687],
        [1.127024  , 1.42602851, 1.92738246, 1.62258013, 1.71441792]],

       [[1.1999002 , 1.17590975, 1.15819448, 1.49600437, 1.88617552],
        [1.75089729, 1.96910695, 1.65090081, 1.25467252, 1.5385785 ],
        [1.13079569, 1.14212772, 1.32432231, 1.59177288, 1.91165053]]])

#### 11. Print *a* and *d*. Notice the difference and relation of the two array in terms of the values? Explain.

In [23]:
# your code/answer here
print(a)
print(d)
# Difference: values in d are lower than in a
# Relation: All values are floats

[[[4.36399175e-01 9.69835058e-02 8.78809438e-01 9.70007813e-01
   7.89923629e-01]
  [1.57954562e-02 2.09431208e-01 8.20058131e-01 4.94073265e-01
   6.66870945e-04]
  [1.27023999e-01 4.26028512e-01 9.27382456e-01 6.22580127e-01
   7.14417915e-01]]

 [[1.99900195e-01 1.75909753e-01 1.58194481e-01 4.96004372e-01
   8.86175520e-01]
  [7.50897290e-01 9.69106954e-01 6.50900811e-01 2.54672520e-01
   5.38578502e-01]
  [1.30795692e-01 1.42127722e-01 3.24322306e-01 5.91772880e-01
   9.11650531e-01]]]
[[[1.43639917 1.09698351 1.87880944 1.97000781 1.78992363]
  [1.01579546 1.20943121 1.82005813 1.49407327 1.00066687]
  [1.127024   1.42602851 1.92738246 1.62258013 1.71441792]]

 [[1.1999002  1.17590975 1.15819448 1.49600437 1.88617552]
  [1.75089729 1.96910695 1.65090081 1.25467252 1.5385785 ]
  [1.13079569 1.14212772 1.32432231 1.59177288 1.91165053]]]

#### 12. Multiply *a* and *c*. Assign the result to *e*.

In [24]:
# your code here
e = np.multiply (a, c)
e

array([[[4.36399175e-01, 9.69835058e-02, 8.78809438e-01, 9.70007813e-01,
         7.89923629e-01],
        [1.57954562e-02, 2.09431208e-01, 8.20058131e-01, 4.94073265e-01,
         6.66870945e-04],
        [1.27023999e-01, 4.26028512e-01, 9.27382456e-01, 6.22580127e-01,
         7.14417915e-01]],

       [[1.99900195e-01, 1.75909753e-01, 1.58194481e-01, 4.96004372e-01,
         8.86175520e-01],
        [7.50897290e-01, 9.69106954e-01, 6.50900811e-01, 2.54672520e-01,
         5.38578502e-01],
        [1.30795692e-01, 1.42127722e-01, 3.24322306e-01, 5.91772880e-01,
         9.11650531e-01]]])

#### 13. Does *e* equal to *a*? Why or why not?

In [26]:
# your code/answer here
e == a
# Yes, because c is composed by 1's

array([[[ True,  True,  True,  True,  True],
        [ True,  True,  True,  True,  True],
        [ True,  True,  True,  True,  True]],

       [[ True,  True,  True,  True,  True],
        [ True,  True,  True,  True,  True],
        [ True,  True,  True,  True,  True]]])

#### 14. Identify the max, min, and mean values in *d*. Assign those values to variables *d_max*, *d_min* and *d_mean*.

In [30]:
# your code here
d_max = np.max(d)
d_min = np.min(d)
d_mean = np.mean(d)
print ("d_max:", d_max)
print ("d_min:", d_min)
print ("d_mean:", d_mean)

d_max: 1.9700078134671015
d_min: 1.000666870945142
d_mean: 1.4903530343842608

#### 15. Now we want to label the values in *d*. First create an empty array *f* with the same shape (i.e. 2x3x5) as *d* using `np.empty`.

In [39]:
# your code here
f = np.empty((2, 3, 5))
f

array([[[4.36399175e-01, 9.69835058e-02, 8.78809438e-01, 9.70007813e-01,
         7.89923629e-01],
        [1.57954562e-02, 2.09431208e-01, 8.20058131e-01, 4.94073265e-01,
         6.66870945e-04],
        [1.27023999e-01, 4.26028512e-01, 9.27382456e-01, 6.22580127e-01,
         7.14417915e-01]],

       [[1.99900195e-01, 1.75909753e-01, 1.58194481e-01, 4.96004372e-01,
         8.86175520e-01],
        [7.50897290e-01, 9.69106954e-01, 6.50900811e-01, 2.54672520e-01,
         5.38578502e-01],
        [1.30795692e-01, 1.42127722e-01, 3.24322306e-01, 5.91772880e-01,
         9.11650531e-01]]])

#### 16. Populate the values in *f*. 

For each value in *d*, if it's larger than *d_min* but smaller than *d_mean*, assign 25 to the corresponding value in *f*. If a value in *d* is larger than *d_mean* but smaller than *d_max*, assign 75 to the corresponding value in *f*. If a value equals to *d_mean*, assign 50 to the corresponding value in *f*. Assign 0 to the corresponding value(s) in *f* for *d_min* in *d*. Assign 100 to the corresponding value(s) in *f* for *d_max* in *d*. In the end, f should have only the following values: 0, 25, 50, 75, and 100.

**Note**: you don't have to use Numpy in this question.

In [41]:
# your code here

f = []
for x in d:
    g = []
    for h in x:
        aa = []
        for n in h:
            if n > d_min and n < d_mean:
                aa.append(25)
            elif n > d_mean and n < d_max:
                aa.append(75)
            elif n == d_mean:
                aa.append(50)
            elif n == d_min:
                aa.append(0)
            elif n == d_max:
                aa.append(100)
        r.append(aa)
f.append(g)

#### 17. Print *d* and *f*. Do you have your expected *f*?
For instance, if your *d* is:
```python
[[[1.85836099, 1.67064465, 1.62576044, 1.40243961, 1.88454931],
[1.75354326, 1.69403643, 1.36729252, 1.61415071, 1.12104981],
[1.72201435, 1.1862918 , 1.87078449, 1.7726778 , 1.88180042]],
[[1.44747908, 1.31673383, 1.02000951, 1.52218947, 1.97066381],
[1.79129243, 1.74983003, 1.96028037, 1.85166831, 1.65450881],
[1.18068344, 1.9587381 , 1.00656599, 1.93402165, 1.73514584]]]
```
Your *f* should be:
```python
[[[ 75.,  75.,  75.,  25.,  75.],
[ 75.,  75.,  25.,  25.,  25.],
[ 75.,  25.,  75.,  75.,  75.]],
[[ 25.,  25.,  25.,  25., 100.],
[ 75.,  75.,  75.,  75.,  75.],
[ 25.,  75.,   0.,  75.,  75.]]]
```

In [ ]:
# your code here

#### 18. Bonus question: instead of using numbers (i.e. 0, 25, 50, 75, and 100), use string values  ("A", "B", "C", "D", and "E") to label the array elements. For the example above, the expected result is:

```python
[[[ 'D',  'D',  'D',  'B',  'D'],
[ 'D',  'D',  'B',  'B',  'B'],
[ 'D',  'B',  'D',  'D',  'D']],
[[ 'B',  'B',  'B',  'B',  'E'],
[ 'D',  'D',  'D',  'D',  'D'],
[ 'B',  'D',   'A',  'D', 'D']]]
```
**Note**: you don't have to use Numpy in this question.

In [ ]:
# your code here