# Intrduction to NumPy


#### 1. Import NumPy under the name np.

In [4]:
# your code here
import numpy as np
import random

#### 2. Print your NumPy version.

In [5]:
# your code here
np.version.version

'1.20.1'

#### 3. Generate a 2x3x5 3-dimensional array with random values. Assign the array to variable *a*.
**Challenge**: there are at least three easy ways that use numpy to generate random arrays. How many ways can you find?

In [17]:
# Method 1

a = np.random.rand(2,3,5)

In [18]:
# Method 2

a = np.random.randint(0, 100, size=(2, 3, 5))

In [19]:
# Method 3

#### 4. Print *a*.

In [20]:
# your code here

a

array([[[69, 56, 89, 87, 81],
        [63, 99, 52, 96, 11],
        [45, 96,  1, 53, 88]],

       [[31, 43, 14, 45,  5],
        [18, 24, 64, 50, 18],
        [59, 86, 69, 33,  1]]])

#### 5. Create a 5x2x3 3-dimensional array with all values equaling 1. Assign the array to variable *b*.

In [33]:
# your code here

b = np.ones((5, 2, 3))

#### 6. Print *b*.

In [34]:
# your code here

b

array([[[1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.]]])

#### 7. Do *a* and *b* have the same size? How do you prove that in Python code?

In [40]:
# your code here

if a.shape == b.shape:
    print ('True')
else:
    print ('False')

False

#### 8. Are you able to add *a* and *b*? Why or why not?

In [42]:
#No, because they don't have the same shape

np.add(a,b)

ValueError: operands could not be broadcast together with shapes (2,3,5) (5,2,3)

#### 9. Transpose *b* so that it has the same structure of *a* (i.e. become a 2x3x5 array). Assign the transposed array to variable *c*.

In [52]:
# your code here


c = np.reshape(b, (2, 3, 5))

#### 10. Try to add *a* and *c*. Now it should work. Assign the sum to variable *d*. But why does it work now?

In [98]:
# your code/answer here

d = a + c

d

array([[[ 70.,  57.,  90.,  88.,  82.],
        [ 64., 100.,  53.,  97.,  12.],
        [ 46.,  97.,   2.,  54.,  89.]],

       [[ 32.,  44.,  15.,  46.,   6.],
        [ 19.,  25.,  65.,  51.,  19.],
        [ 60.,  87.,  70.,  34.,   2.]]])

#### 11. Print *a* and *d*. Notice the difference and relation of the two array in terms of the values? Explain.

In [56]:
# your code/answer here
print (a, d)
#The difference of all values is 1 since we added it to all numbers

[[[69 56 89 87 81]
  [63 99 52 96 11]
  [45 96  1 53 88]]

 [[31 43 14 45  5]
  [18 24 64 50 18]
  [59 86 69 33  1]]] [[[ 70.  57.  90.  88.  82.]
  [ 64. 100.  53.  97.  12.]
  [ 46.  97.   2.  54.  89.]]

 [[ 32.  44.  15.  46.   6.]
  [ 19.  25.  65.  51.  19.]
  [ 60.  87.  70.  34.   2.]]]

#### 12. Multiply *a* and *c*. Assign the result to *e*.

In [57]:
# your code here

e = a * c

#### 13. Does *e* equal to *a*? Why or why not?

In [59]:
# your code/answer here

print (a, e)

#Yes, because we multiplied each number by 1, therefore are values are equal

[[[69 56 89 87 81]
  [63 99 52 96 11]
  [45 96  1 53 88]]

 [[31 43 14 45  5]
  [18 24 64 50 18]
  [59 86 69 33  1]]] [[[69. 56. 89. 87. 81.]
  [63. 99. 52. 96. 11.]
  [45. 96.  1. 53. 88.]]

 [[31. 43. 14. 45.  5.]
  [18. 24. 64. 50. 18.]
  [59. 86. 69. 33.  1.]]]

#### 14. Identify the max, min, and mean values in *d*. Assign those values to variables *d_max*, *d_min* and *d_mean*.

In [94]:
# your code here
d_max = np.max(d)
d_min = np.min(d)
d_mean = np.mean(d)

print (d_max, d_min, d_mean)

100.0 2.0 52.53333333333333

#### 15. Now we want to label the values in *d*. First create an empty array *f* with the same shape (i.e. 2x3x5) as *d* using `np.empty`.

In [99]:
# your code here

f = np.empty((2,3,5))

f

array([[[ 70.,  57.,  90.,  88.,  82.],
        [ 64., 100.,  53.,  97.,  12.],
        [ 46.,  97.,   2.,  54.,  89.]],

       [[ 32.,  44.,  15.,  46.,   6.],
        [ 19.,  25.,  65.,  51.,  19.],
        [ 60.,  87.,  70.,  34.,   2.]]])

#### 16. Populate the values in *f*. 

For each value in *d*, if it's larger than *d_min* but smaller than *d_mean*, assign 25 to the corresponding value in *f*. If a value in *d* is larger than *d_mean* but smaller than *d_max*, assign 75 to the corresponding value in *f*. If a value equals to *d_mean*, assign 50 to the corresponding value in *f*. Assign 0 to the corresponding value(s) in *f* for *d_min* in *d*. Assign 100 to the corresponding value(s) in *f* for *d_max* in *d*. In the end, f should have only the following values: 0, 25, 50, 75, and 100.

**Note**: you don't have to use Numpy in this question.

In [109]:
# your code here

In [85]:
f = np.where(d_min > d_mean, 0, an_array)


f[d_min < d_mean == True] = 25
f[d_max > d_mean == True] = 75

d

NameError: name 'an_array' is not defined

#### 17. Print *d* and *f*. Do you have your expected *f*?
For instance, if your *d* is:
```python
[[[1.85836099, 1.67064465, 1.62576044, 1.40243961, 1.88454931],
[1.75354326, 1.69403643, 1.36729252, 1.61415071, 1.12104981],
[1.72201435, 1.1862918 , 1.87078449, 1.7726778 , 1.88180042]],
[[1.44747908, 1.31673383, 1.02000951, 1.52218947, 1.97066381],
[1.79129243, 1.74983003, 1.96028037, 1.85166831, 1.65450881],
[1.18068344, 1.9587381 , 1.00656599, 1.93402165, 1.73514584]]]
```
Your *f* should be:
```python
[[[ 75.,  75.,  75.,  25.,  75.],
[ 75.,  75.,  25.,  25.,  25.],
[ 75.,  25.,  75.,  75.,  75.]],
[[ 25.,  25.,  25.,  25., 100.],
[ 75.,  75.,  75.,  75.,  75.],
[ 25.,  75.,   0.,  75.,  75.]]]
```

In [ ]:
# your code here

#### 18. Bonus question: instead of using numbers (i.e. 0, 25, 50, 75, and 100), use string values  ("A", "B", "C", "D", and "E") to label the array elements. For the example above, the expected result is:

```python
[[[ 'D',  'D',  'D',  'B',  'D'],
[ 'D',  'D',  'B',  'B',  'B'],
[ 'D',  'B',  'D',  'D',  'D']],
[[ 'B',  'B',  'B',  'B',  'E'],
[ 'D',  'D',  'D',  'D',  'D'],
[ 'B',  'D',   'A',  'D', 'D']]]
```
**Note**: you don't have to use Numpy in this question.

In [ ]:
# your code here