# Intrduction to NumPy


#### 1. Import NumPy under the name np.

In [1]:
# your code here
import numpy as np

#### 2. Print your NumPy version.

In [3]:
# your code here
print(np.__version__)

1.20.1

#### 3. Generate a 2x3x5 3-dimensional array with random values. Assign the array to variable *a*.
**Challenge**: there are at least three easy ways that use numpy to generate random arrays. How many ways can you find?

In [25]:
# Method 1
a=np.random.rand(2,3,5)

In [31]:
# Method 2
a=np.random.randint(1,100,(2,3,5))

In [32]:
# Method 3
a=np.random.random_sample((2,3,5))

#### 4. Print *a*.

In [34]:
# your code here
print(a)

[[[0.06630595 0.3004102  0.09628555 0.61242419 0.27452794]
  [0.63344092 0.49712611 0.90105233 0.66324814 0.98294183]
  [0.62573617 0.07787514 0.03785934 0.09620792 0.45550182]]

 [[0.99885446 0.20232751 0.86891994 0.8777125  0.6210179 ]
  [0.64602973 0.46880579 0.63349855 0.49583103 0.50529657]
  [0.84286729 0.23346995 0.57393047 0.508995   0.46635653]]]

#### 5. Create a 5x2x3 3-dimensional array with all values equaling 1. Assign the array to variable *b*.

In [76]:
# your code here
#He cambiado la shape a 5,3,2 ya que posteriormente al transponerlo sino no coincide con la shape a
b=np.ones((5,3,2))

#### 6. Print *b*.

In [58]:
# your code here
print(b)

[[[1. 1.]
  [1. 1.]
  [1. 1.]]

 [[1. 1.]
  [1. 1.]
  [1. 1.]]

 [[1. 1.]
  [1. 1.]
  [1. 1.]]

 [[1. 1.]
  [1. 1.]
  [1. 1.]]

 [[1. 1.]
  [1. 1.]
  [1. 1.]]]

#### 7. Do *a* and *b* have the same size? How do you prove that in Python code?

In [59]:
# your code here
a.size==b.size

True

#### 8. Are you able to add *a* and *b*? Why or why not?

In [41]:
# your answer here
#No es posible por que tienen diferentes shapes

#### 9. Transpose *b* so that it has the same structure of *a* (i.e. become a 2x3x5 array). Assign the transposed array to variable *c*.

In [60]:
# your code here
c=b.T
print(c)

[[[1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1.]]

 [[1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1.]]]

#### 10. Try to add *a* and *c*. Now it should work. Assign the sum to variable *d*. But why does it work now?

In [61]:
# your code/answer here
#Hemos modificado la shape del array y ya funciona
d=a+c
print(d)

[[[1.06630595 1.3004102  1.09628555 1.61242419 1.27452794]
  [1.63344092 1.49712611 1.90105233 1.66324814 1.98294183]
  [1.62573617 1.07787514 1.03785934 1.09620792 1.45550182]]

 [[1.99885446 1.20232751 1.86891994 1.8777125  1.6210179 ]
  [1.64602973 1.46880579 1.63349855 1.49583103 1.50529657]
  [1.84286729 1.23346995 1.57393047 1.508995   1.46635653]]]

#### 11. Print *a* and *d*. Notice the difference and relation of the two array in terms of the values? Explain.

In [63]:
# your code/answer here
print(a)
print(d)
#El array d es una unidad mayor que el a en cada elemento del array

[[[0.06630595 0.3004102  0.09628555 0.61242419 0.27452794]
  [0.63344092 0.49712611 0.90105233 0.66324814 0.98294183]
  [0.62573617 0.07787514 0.03785934 0.09620792 0.45550182]]

 [[0.99885446 0.20232751 0.86891994 0.8777125  0.6210179 ]
  [0.64602973 0.46880579 0.63349855 0.49583103 0.50529657]
  [0.84286729 0.23346995 0.57393047 0.508995   0.46635653]]]
[[[1.06630595 1.3004102  1.09628555 1.61242419 1.27452794]
  [1.63344092 1.49712611 1.90105233 1.66324814 1.98294183]
  [1.62573617 1.07787514 1.03785934 1.09620792 1.45550182]]

 [[1.99885446 1.20232751 1.86891994 1.8777125  1.6210179 ]
  [1.64602973 1.46880579 1.63349855 1.49583103 1.50529657]
  [1.84286729 1.23346995 1.57393047 1.508995   1.46635653]]]

#### 12. Multiply *a* and *c*. Assign the result to *e*.

In [64]:
# your code here
e=a*c

#### 13. Does *e* equal to *a*? Why or why not?

In [66]:
# your code/answer here
a==e
#a es igual a e ya que hemos multiplicado por 1 cada uno de los elementos

array([[[ True,  True,  True,  True,  True],
        [ True,  True,  True,  True,  True],
        [ True,  True,  True,  True,  True]],

       [[ True,  True,  True,  True,  True],
        [ True,  True,  True,  True,  True],
        [ True,  True,  True,  True,  True]]])

#### 14. Identify the max, min, and mean values in *d*. Assign those values to variables *d_max*, *d_min* and *d_mean*.

In [68]:
# your code here
d_max=np.max(d)
d_min=np.min(d)
d_mean=np.mean(d)

#### 15. Now we want to label the values in *d*. First create an empty array *f* with the same shape (i.e. 2x3x5) as *d* using `np.empty`.

In [82]:
# your code here
f=np.empty([2,3,5])
f

array([[[1.06630595, 1.3004102 , 1.09628555, 1.61242419, 1.27452794],
        [1.63344092, 1.49712611, 1.90105233, 1.66324814, 1.98294183],
        [1.62573617, 1.07787514, 1.03785934, 1.09620792, 1.45550182]],

       [[1.99885446, 1.20232751, 1.86891994, 1.8777125 , 1.6210179 ],
        [1.64602973, 1.46880579, 1.63349855, 1.49583103, 1.50529657],
        [1.84286729, 1.23346995, 1.57393047, 1.508995  , 1.46635653]]])

#### 16. Populate the values in *f*. 

For each value in *d*, if it's larger than *d_min* but smaller than *d_mean*, assign 25 to the corresponding value in *f*. If a value in *d* is larger than *d_mean* but smaller than *d_max*, assign 75 to the corresponding value in *f*. If a value equals to *d_mean*, assign 50 to the corresponding value in *f*. Assign 0 to the corresponding value(s) in *f* for *d_min* in *d*. Assign 100 to the corresponding value(s) in *f* for *d_max* in *d*. In the end, f should have only the following values: 0, 25, 50, 75, and 100.

**Note**: you don't have to use Numpy in this question.

In [147]:
# your code here/ Primero creo un bucle que me de d[i,n,o] para poder clasificar ese resultado en f[i,n,o]
for i in range(len(d.shape)-1):
    #d[i]
    for n in range((d.shape[1])):
        #d[i][n]
        for o in range(d.shape[2]):
            #d[i][n][o]
            #primera condicion
            if d[i,n,o]>d_min and d[i,n,o]<d_mean:
                f[i,n,o]=25
            #segunda condicion
            elif d[i,n,o]>d_mean and d[i,n,o]<d_max:
                f[i,n,o]=75
            #tercera condicion
            elif d[i,n,o]==d_mean:
                f[i,n,o]=50
            #cuarta condicion
            elif d[i,n,o]==d_min:
                f[i,n,o]=0
            #quinta condicion
            elif d[i,n,o]==d_max:
                f[i,n,o]=100

#### 17. Print *d* and *f*. Do you have your expected *f*?
For instance, if your *d* is:
```python
[[[1.85836099, 1.67064465, 1.62576044, 1.40243961, 1.88454931],
[1.75354326, 1.69403643, 1.36729252, 1.61415071, 1.12104981],
[1.72201435, 1.1862918 , 1.87078449, 1.7726778 , 1.88180042]],
[[1.44747908, 1.31673383, 1.02000951, 1.52218947, 1.97066381],
[1.79129243, 1.74983003, 1.96028037, 1.85166831, 1.65450881],
[1.18068344, 1.9587381 , 1.00656599, 1.93402165, 1.73514584]]]
```
Your *f* should be:
```python
[[[ 75.,  75.,  75.,  25.,  75.],
[ 75.,  75.,  25.,  25.,  25.],
[ 75.,  25.,  75.,  75.,  75.]],
[[ 25.,  25.,  25.,  25., 100.],
[ 75.,  75.,  75.,  75.,  75.],
[ 25.,  75.,   0.,  75.,  75.]]]
```

In [148]:
# your code here
print(d)
print(f)

[[[1.06630595 1.3004102  1.09628555 1.61242419 1.27452794]
  [1.63344092 1.49712611 1.90105233 1.66324814 1.98294183]
  [1.62573617 1.07787514 1.03785934 1.09620792 1.45550182]]

 [[1.99885446 1.20232751 1.86891994 1.8777125  1.6210179 ]
  [1.64602973 1.46880579 1.63349855 1.49583103 1.50529657]
  [1.84286729 1.23346995 1.57393047 1.508995   1.46635653]]]
[[[ 25.  25.  25.  75.  25.]
  [ 75.  25.  75.  75.  75.]
  [ 75.  25.   0.  25.  25.]]

 [[100.  25.  75.  75.  75.]
  [ 75.  25.  75.  25.  25.]
  [ 75.  25.  75.  75.  25.]]]

#### 18. Bonus question: instead of using numbers (i.e. 0, 25, 50, 75, and 100), use string values  ("A", "B", "C", "D", and "E") to label the array elements. For the example above, the expected result is:

```python
[[[ 'D',  'D',  'D',  'B',  'D'],
[ 'D',  'D',  'B',  'B',  'B'],
[ 'D',  'B',  'D',  'D',  'D']],
[[ 'B',  'B',  'B',  'B',  'E'],
[ 'D',  'D',  'D',  'D',  'D'],
[ 'B',  'D',   'A',  'D', 'D']]]
```
**Note**: you don't have to use Numpy in this question.

In [166]:
# your code here
#Igual que antes pero el arrai inicial tiene que ser de tipo str, lo que no se es como solventar la alarma, pero acaba funcionando
g=np.chararray((2, 3,5),unicode=True)
f2=f.astype(np.float)
for i in range(len(f.shape)-1):
    #d[i]
    for n in range((f.shape[1])):
        #d[i][n]
        for o in range(f.shape[2]):
            if f[i,n,o]==0:
                g[i,n,o]="A"
            elif f[i,n,o]==25:
                g[i,n,o]="B"
            elif f[i,n,o]==50:
                g[i,n,o]="C"
            elif f[i,n,o]==75:
                g[i,n,o]="D"
            elif f[i,n,o]==100:
                g[i,n,o]="E"

<ipython-input-166-14bd4fff6bd8>:3: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  f2=f.astype(np.float)

In [168]:
print(g)

[[['B' 'B' 'B' 'D' 'B']
  ['D' 'B' 'D' 'D' 'D']
  ['D' 'B' 'A' 'B' 'B']]

 [['E' 'B' 'D' 'D' 'D']
  ['D' 'B' 'D' 'B' 'B']
  ['D' 'B' 'D' 'D' 'B']]]