# Intrduction to NumPy


#### 1. Import NumPy under the name np.

In [148]:
import numpy as np

#### 2. Print your NumPy version.

In [149]:
np.__version__

'1.21.2'

#### 3. Generate a 2x3x5 3-dimensional array with random values. Assign the array to variable *a*.
**Challenge**: there are at least three easy ways that use numpy to generate random arrays. How many ways can you find?

In [150]:
a =np.random.randint(1,100,(2,3,5))

In [151]:
# Method 2

In [152]:
# Method 3

#### 4. Print *a*.

In [153]:
a

array([[[33, 55, 67, 33, 11],
        [37, 25, 78, 81,  2],
        [57, 35, 26,  9, 47]],

       [[12, 26, 31, 89, 55],
        [34, 98, 93, 30, 73],
        [85, 45, 25, 45, 58]]])

#### 5. Create a 5x2x3 3-dimensional array with all values equaling 1. Assign the array to variable *b*.

In [154]:
b = np.ones((5,2,3))

#### 6. Print *b*.

In [155]:
b

array([[[1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.]]])

#### 7. Do *a* and *b* have the same size? How do you prove that in Python code?

In [156]:
a.shape

(2, 3, 5)

In [157]:
b.shape

(5, 2, 3)

#### 8. Are you able to add *a* and *b*? Why or why not?

In [158]:
a + b
#no tiene las mismas columnas/filas. No es coincidente

ValueError: operands could not be broadcast together with shapes (2,3,5) (5,2,3)

#### 9. Transpose *b* so that it has the same structure of *a* (i.e. become a 2x3x5 array). Assign the transposed array to variable *c*.

In [159]:
c = b.transpose(1,2,0) #posiciones y entre par√©ntesis, indicamos nuevas posiciones
c.shape

(2, 3, 5)

#### 10. Try to add *a* and *c*. Now it should work. Assign the sum to variable *d*. But why does it work now?

In [160]:
d = a + c # tiene los mismos elementos

#### 11. Print *a* and *d*. Notice the difference and relation of the two array in terms of the values? Explain.

In [161]:
print(a)

[[[33 55 67 33 11]
  [37 25 78 81  2]
  [57 35 26  9 47]]

 [[12 26 31 89 55]
  [34 98 93 30 73]
  [85 45 25 45 58]]]

In [162]:
print(d) #d ha sumado 1 a (a) #d ahora contiene float's

[[[34. 56. 68. 34. 12.]
  [38. 26. 79. 82.  3.]
  [58. 36. 27. 10. 48.]]

 [[13. 27. 32. 90. 56.]
  [35. 99. 94. 31. 74.]
  [86. 46. 26. 46. 59.]]]

#### 12. Multiply *a* and *c*. Assign the result to *e*.

In [163]:
e = a * c

#### 13. Does *e* equal to *a*? Why or why not?

In [164]:
e == a

array([[[ True,  True,  True,  True,  True],
        [ True,  True,  True,  True,  True],
        [ True,  True,  True,  True,  True]],

       [[ True,  True,  True,  True,  True],
        [ True,  True,  True,  True,  True],
        [ True,  True,  True,  True,  True]]])

#### 14. Identify the max, min, and mean values in *d*. Assign those values to variables *d_max*, *d_min* and *d_mean*.

In [165]:
d_max = np.max(d)
d_min = np.min(d)
d_mean = np.mean(d)

#### 15. Now we want to label the values in *d*. First create an empty array *f* with the same shape (i.e. 2x3x5) as *d* using `np.empty`.

In [166]:
f = np.empty([2,3,5])
f

array([[[ 25.,  75.,  25.,  25.,  25.],
        [ 75.,  75., 100.,  75.,  25.],
        [ 75.,  25.,  75.,  25.,  25.]],

       [[ 75.,  75.,  75.,  25.,  75.],
        [ 75.,  75.,   0.,  25.,  25.],
        [ 75.,  25.,  75.,  25.,  25.]]])

#### 16. Populate the values in *f*. 

For each value in *d*, if it's larger than *d_min* but smaller than *d_mean*, assign 25 to the corresponding value in *f*. If a value in *d* is larger than *d_mean* but smaller than *d_max*, assign 75 to the corresponding value in *f*. If a value equals to *d_mean*, assign 50 to the corresponding value in *f*. Assign 0 to the corresponding value(s) in *f* for *d_min* in *d*. Assign 100 to the corresponding value(s) in *f* for *d_max* in *d*. In the end, f should have only the following values: 0, 25, 50, 75, and 100.

**Note**: you don't have to use Numpy in this question.

In [167]:
type(f[0][0][0])

numpy.float64

In [168]:
for i, value_i in enumerate(f):
    for j, value_j in enumerate(value_i):
        for index, value in enumerate(value_j):
            if value > d_min and value < d_mean:
                f[i][j][index] = 25
        
            if value > d_mean and value < d_max:
                f[i][j][index] = 75
        
            if value == d_mean:
                f[i][j][index] = 50
        
            if value == d_min:
                f[i][j][index] = 0
        
            if value == d_max:
                f[i][j][index] = 100

#### 17. Print *d* and *f*. Do you have your expected *f*?
For instance, if your *d* is:
```python
[[[1.85836099, 1.67064465, 1.62576044, 1.40243961, 1.88454931],
[1.75354326, 1.69403643, 1.36729252, 1.61415071, 1.12104981],
[1.72201435, 1.1862918 , 1.87078449, 1.7726778 , 1.88180042]],
[[1.44747908, 1.31673383, 1.02000951, 1.52218947, 1.97066381],
[1.79129243, 1.74983003, 1.96028037, 1.85166831, 1.65450881],
[1.18068344, 1.9587381 , 1.00656599, 1.93402165, 1.73514584]]]
```
Your *f* should be:
```python
[[[ 75.,  75.,  75.,  25.,  75.],
[ 75.,  75.,  25.,  25.,  25.],
[ 75.,  25.,  75.,  75.,  75.]],
[[ 25.,  25.,  25.,  25., 100.],
[ 75.,  75.,  75.,  75.,  75.],
[ 25.,  75.,   0.,  75.,  75.]]]
```

In [169]:
print(d)
print(f)

[[[34. 56. 68. 34. 12.]
  [38. 26. 79. 82.  3.]
  [58. 36. 27. 10. 48.]]

 [[13. 27. 32. 90. 56.]
  [35. 99. 94. 31. 74.]
  [86. 46. 26. 46. 59.]]]
[[[ 25.  75.  25.  25.  25.]
  [ 75.  75. 100.  75.  25.]
  [ 75.  25.  75.  25.  25.]]

 [[ 75.  75.  75.  25.  75.]
  [ 75.  75.   0.  25.  25.]
  [ 75.  25.  75.  25.  25.]]]

#### 18. Bonus question: instead of using numbers (i.e. 0, 25, 50, 75, and 100), use string values  ("A", "B", "C", "D", and "E") to label the array elements. For the example above, the expected result is:

```python
[[[ 'D',  'D',  'D',  'B',  'D'],
[ 'D',  'D',  'B',  'B',  'B'],
[ 'D',  'B',  'D',  'D',  'D']],
[[ 'B',  'B',  'B',  'B',  'E'],
[ 'D',  'D',  'D',  'D',  'D'],
[ 'B',  'D',   'A',  'D', 'D']]]
```
**Note**: you don't have to use Numpy in this question.